body {
	background: #FEECEC;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEECEC', endColorstr='#FFEFE1') repeat scroll 0% 0%;
	background: transparent -moz-linear-gradient(center top , #FEECEC, #FFEFE1) repeat scroll 0% 0%;
	background: -webkit-gradient(linear, left top, left bottom, from(#FEECEC), to(#FFEFE1)) repeat scroll 0% 0%;
	font-size: 16px;
	color: #89280E;
	font-family: "Trebuchet MS", Trebuchet MS, Arial, sans-serif;
	margin-top: 30px;
}

h1 {
	color: #661500;
	font-size: 48px;
	text-transform: lowercase;
	font-style: inherit;
	background-color: #FE7878;
	padding: 6px;
	box-shadow: 15px 15px 0px rgba(204, 29, 0, 0.9);
	display: table;
	width: -moz-fit-content;
	margin-bottom: 30px;
}

h3 {
	padding: 6px;
	color: #AA1800;
	font-size: 24px;
	box-shadow: 7px 7px 0px #FFCBC1;
	display: table;
	width: -moz-fit-content;
	background-color: #FEF9F9;
}

h4 {
	color: #880000;
}

a:link {
	color: #110000;
}

a:visited {
	color: #110000;
}

a:hover {
	text-decoration: none;
	color: #FF3400;
}

.content-section {
	padding: 30px 0;
}

.projects {
	margin-top: 20px;
}

.project {
	max-width: 720px;
	padding: 10px 10px 15px 10px;
	margin-bottom: 30px;
	background-color: #FFF9F8;
	box-shadow: 7px 7px 0px #FFCBC1;

}

.project-content {
	/*background-image: url("../img/newspix.png");
	background-position: right bottom;
	background-repeat: no-repeat;*/
	/*background-size: 30%;*/
}

.project-name {
	font-size: 24px;
	font-weight: bold;
	color: #661500;
}

.project .collaborators::before {
	content: "With ";
}

.project .collaborators {
	font-style: italic;
	color: #6B1A1A;
}

.project .extra-info {
	font-style: italic;
	color: #6B1A1A;
}

.project .description {
	padding: 10px 0;
}

.project .press::before {
	content: "Press: ";
	font-weight: bold;
}

.project .source::before {
	content: "Try it: ";
	font-weight: bold;
}

.social-media {
	margin-top: 20px;
	max-width: 140px;
	font-size: 30px;
}

.social-media i {
	width: 32px;
	display: inline-block;
}

.social-media a span {
	font-size: 20px;
	display: inline;
}
